--extra-index-url https://pypi.nvidia.com
--extra-index-url https://download.pytorch.org/whl/cu129

numpy
scikit-image
scikit-learn
scipy
tqdm
umap-learn
plotly
dash
seaborn
lightning
lightly
Pillow
pandas
numba
optuna
wandb
optuna-integration[pytorch_lightning]
hdmf
git+https://github.com/hdmf-dev/hdmf-ai
opencv-python
imagecodecs
openpyxl
git+https://github.com/lbl-cbg/FlowKit.git
cuml-cu12==25.6.*
torch
torchvision
